.footer {
  display: block;
  height: 50px;
  width: 100%;
  margin-top:20px;
  padding: 50px 0 20px 0;
  text-align: center;
}

i {
  color:$med-accent-color;
}

.footer-elements {
  margin-left: 30px;
}

.footer-container {
  bottom: 0;
}

.wishlist_footer_space {
  height: 50px;
}
