.publicprofile {
  .publicprofile-jumbotron {
    width: 100%;
    height: 400px;
    text-align: center;
    padding-top: 100px;
    background-color: $med-accent-color;

    h1 {
      font-family: $font-accent;
      font-size: 140px;
    }

    input {
      height: 40px;
      width: 50%;
      padding: 10px;
    }

    button {
      background-color: #000;
      font-color: #fff;
      border-color: #000;
    }
  }
}
