.modaltitle {
  font-family: $font-accent;
  font-size: 34px;
  text-align: center;
}

.modalbody h3 {
  font-weight: bold;
}

.modalbody input {
  margin-bottom: 10px;
  border-radius: 2px;
}

.modalbody label {
  font-size: 20px;
}
