html {
  box-sizing: border-box;
  background-color: #FAFAFA; }

*, *:before, *:after {
  box-sizing: inherit; }

button {
  background-color: #ffbf43; }

body {
  font-family: "Nothing You Could Do", cursive; }

a {
  color: #ffbf43; }

a:hover {
  color: #ffbf43;
  cursor: pointer; }

.main {
  margin-top: 50px;
  background-color: #FAFAFA; }

.main img {
  height: auto;
  max-width: 700px;
  width: 100%; }

.viewbox {
  display: inline-block;
  width: 100%;
  height: auto;
  max-height: 650px;
  margin: 30px;
  padding: 20px;
  background-color: #FFF;
  border: 1px solid #edeeee;
  text-align: center; }

.viewbox .logo {
  display: inline-block;
  width: 150px;
  height: auto; }

.viewbox input {
  margin: 0;
  border-radius: 0; }

.profile .nav {
  display: block;
  margin: 0; }

.profile .nav img {
  display: inline-block;
  width: 100px;
  height: auto; }

.profile .nav a {
  padding: 10px;
  font-size: 20px;
  float: right; }

.profile .jumbotron-header {
  width: 100%;
  min-width: 300px;
  min-height: 250px;
  max-height: 350px;
  height: auto;
  background-image: url("../../assets/jimini-background.png"); }

.profile .jumbotron-header h1 {
  font-family: "Pacifico", cursive;
  display: block;
  text-align: center;
  font-size: 65px;
  color: #000;
  padding-top: 55px;
  text-shadow: 2px 2px 40px #969696; }

.profile .jumbotron-header h2 {
  font-family: "Nothing You Could Do", cursive;
  color: #ffbf43;
  font-size: 24px;
  text-align: center;
  font-weight: bold; }

.itemform .itemdescription input,
.itemform textarea {
  padding: 10px;
  border-radius: 0; }

.itemform .label {
  font-size: 20px;
  font-weight: bold; }

.itemform #description {
  display: block;
  width: 100%;
  height: 100px;
  vertical-align: top;
  resize: none; }

.footer {
  display: block;
  height: 50px;
  width: 100%;
  margin-top: 20px;
  padding: 50px 0 20px 0;
  text-align: center; }

i {
  color: #ffbf43; }

.footer-elements {
  margin-left: 30px; }

.footer-container {
  bottom: 0; }
